# Python virtual environment
venv/


# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# IDE specific files (optional)
.idea/
.vscode/

# OS specific files (optional)
.DS_Store 


# Cursor specific files
.cursor